@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      -moz-appearance: textfield !important;
    }
 }
@layer components {
    .bordered-gradient{
        border: double 4px transparent;
        border-radius: 6px;
        background-image: linear-gradient(white, white), 
                          linear-gradient(to right,hsl(249, 99%, 64%),hsl(278, 94%, 30%));
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }
}
@layer utilities {
       .float-card {
            @apply absolute w-[20rem] p-4
        }

        .card {
            @apply h-40 w-[18rem]
        }

        .float-card-lg {
            @apply absolute w-[30rem] p-4 border-red
        }

        .card-lg {
            @apply h-64 w-[30rem]
        }

}

.label {
    @apply uppercase text-xs tracking-[.18em] font-bold
}

.input-text {
    @apply text-lg mt-2 px-4 tracking-wide border rounded-lg w-full h-11 border-slate-200 placeholder-slate-300 focus:outline-none focus:border focus:bordered-gradient
}
.input-date {
    @apply text-lg mt-2 px-4 tracking-wide border rounded-lg h-11 border-slate-200 placeholder-slate-300 focus:outline-none focus:border focus:bordered-gradient
}
.error {
    @apply mt-2 text-xs text-red col-span-2
}
.error-input {
    @apply text-lg mt-2 px-4 tracking-wide border rounded-lg w-full h-11 border-red focus:outline-none focus:border focus:border-red
}